
<div class="row">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="RecoverPassword()">
        <div class="alert alert-success" role="alert" ng-show="ShowMessage">Se ha enviado un correo de recuperación a tu cuenta</div>
        <h2 class="text-center">Recuperar Passwrord</h2>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="userName" type="text" class="form-control" placeholder="Correo electrónico"  />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" >Recuperar clave</button>
                <a class="btn btn-primary btn-block" href="/login">Regresar a login</a>
            </div>
        </div>
    </form>
</div>