form a {
    background-color: transparent;
    border: 2px solid black;   
}

a:link {
    color: black;   
}
a:visited {
    color: black;
}
a:hover {
    color: crimson;
    text-decoration: none;
      
}