@{
    PageData["title"] = "PredLiga | Allan Mejia";
}

<link type="text/css" rel="stylesheet" href="/views/Index.css"/>
<div class="text-center">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h2>
            <span>Bienvenido a <strong>PredLiga</strong></span>
        </h2>
        <a class="btn-sm btn-block "  href="./login">Login</a>
        <a class="btn-sm btn-block" href="./register">Register</a>
    </form>
    <img class="img-responsive" src="/Images/Soccer2.jpg" alt="" />
</div>
